#search-wrap{
    border: solid 1px black;
}
  
.searchContainer{
    position: relative;
}
#searchInput{
    border: 3px solid #fff;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
}
.close-btn{
    top: 21px;
    right: 50px;
    cursor: pointer;
    color: #fc913a;
    border: 0px;
    width: 120px;
    height: 55px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}